.all{
    text-indent: 3em;
    display: flex;
    flex-direction: column;
    font-family:sans-serif;
    }
    .form{
        display: flex;
    flex-direction: column;
    width: 60%;
    }
.submit{
    background-color: rgb(107,222,255);
    border-radius: 20px;

}
.submit:hover{
    font-weight: bold;
    background-color: cornflowerblue;
}
div{
    padding: 10px;
    text-align:start;
}