#root, .App{
    padding: 0;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid rgb(107,222,255);
    width: 100%;
}

.jobifyHeader h1 {
    font-size: 3rem;
    margin: 0 10%;
    color: #6bdeff;
    font-weight: 800;
}

.links{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 23%;
}

.APBtn{
    padding: 10px 20px;
    background: linear-gradient(180deg, #6bdeff, #52c6e6, #6bdeff);
    border:1px solid #6bdeff;
    font-size: 1.2rem;
    border-radius: 30px;
    box-shadow: 0 1px 1px .2px rgb(0,0,0,.2);
}

.APBtn:hover{
    cursor: pointer;
}

.createPost{
    transition: .3s ease-in-out;
    height: 100%;
    font-weight: bold;
}

.createPost:hover{
background-color: #b0eeff;
}

.nav a{
    text-decoration: none;
}


@media screen and (min-width: 280px) and (max-width: 767px){

    .nav{
        width: 100%;
    }
    
    div.links {
        width: 60%;
        padding: 0px;
    }

    .siteName{
        width: 40%;
        height: 100%;
       
    }

    .jobifyHeader h1 {
        text-align: left;
        font-size: 25px;
    }


    .linkBtn{
        font-size: 1%;
    }

    .APBtn{
    font-size: 10px;
    width:70px;
    height: 20px;
    padding: 0;
    }
}