

.arrow {
  width: 0.8em;
  padding-left: 10px;
}

.index {
  margin: 20px;
  margin-top: 0px;
  border-top: 1.5px solid black;
  width: 100%;
}

.index a{
  text-decoration: none;
}

.postCard {
  display: flex;
  justify-content: space-between;
  border: 1.5px solid black;
  margin: 20px;
  border-radius: 10px;
}

.postCard:hover{
  border: 2px solid rgb(107,222,255);
    box-shadow: 0 0 3px 1px rgb(0,0,0,.3);
}

.column {
  width: 25%;
}
.columnMore {
  width: 10rem;
  text-align: right;
}

/* .postCard:after {
  content: "";
  display: table;
  clear: both;
} */

a {
  font-size: 1.2em;
  color: black;
}

.selectColumn{
    display: flex;
   
    align-items: center;
}

select {
  background-color: #f5f5f5;
  border: none;
  padding: 5px;
  font-size: 1em;
  margin-right: 10px;
}

.selectMenus {
    display: flex;
    align-items: baseline;
    padding: 0;
}

.role{
    font-weight: 600;
}

.filterRow{
    display: flex;
}

.filterh3 h3, .dropdownh4 h4{
    margin:0;
}



/* .selectMenus:after {
  content: "";
  display: table;
  clear: both;
} */

.allPostsh2 h2 {
  margin: 20px;
  font-size: 45px;
}


@media screen and (min-width: 280px) and (max-width: 600px){
    .displayNone {
        display: none;
    }
    
    div.index {
        padding: 0px;
        margin: auto;
    }
    
    .allPosts {
     font-size: 0.8em;
    }
    
    .allPosts h2 {
     font-size: 2em;
     margin: 5px;
     text-align: left;
    }
    
    .selectMenus {
        width: 100%;
        margin: auto;
    }
    
    .selectColumn {
        display: flex;
        flex-direction: column;
        padding: 0px;
    }
    
    .postCard {
        padding: 0px;
    }
    
    .column.role {
        width: 10rem;
    }

    .dropdownh4 {
        margin: 2px;
        font-size: 0.8em;
    }

    .allpostsselect {
        width: 6em;
    }

    }