@import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap');

.showMain{
  display: flex;
   justify-content: space-evenly;
}

.showBody {
   display: flex;
  flex-direction: column;
        
    }

    .updateForm{
      display: flex;
      flex-direction: column;
    }

    .submitBtn{
      margin: 0 auto
    }

    .showImg img{
      width: 630px;
    }

    .updateCard{
      background-color: white;
      position:absolute;
      width: 517px;
      right: 225px;
      border: 2px solid black;
    }

    .updateComp h2{
      font-size: 30px;
    }

    .showButtons{
      display: flex;
      justify-content: space-between;
      padding: 0;
    }
   

.jobInformation{
  width: 400px;
}

.jobInformation h2{
  margin: 0;
}

.jobInformation span{
  font-weight: bold;
}
